style(type="text/css")
  #row_header {color:white;font-size:100px;text-align:center;height:10%}
  #row_drinks {color:white;font-size:400px;text-align:center;height:90%}
  #col_drinks {vertical-align:middle}
  table {width:100%;height:100%}
  body {background:black;}
  p {color:white}

table
  thead
    tr#row_header 
      th Boissons restantes:
  tbody
    tr#row_drinks
      td#col_drinks=drink
